{% extends 'base.html'%}

{% block title %}
     create new post 
{% endblock %}

{% block content_title %}
    new Post
{% endblock %}

{% block content %}

  <div class="col-md-6">
    <form action="{{ url_for('pos.create_post') }}" method="post">
        {% for foo in form %}
            <div class="form-group">
             {{ foo.label(class='control-label') }}
             {{ foo(class='form-control')  }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Create</button>
    </form>
  </div>

{% endblock %}